<header class="navbar">
    <div class="container">
        <nav class="nav-menu">
            <div class="logotype">
                <a href="#index.html"><img  src="../img/logo/Logo.svg" alt="#"></a>
            </div>
            <ul class="nav-item">
                <li class="nav-link active"> <a href="#started">About</a></li>
                <li class="nav-link"> <a href="#features">Features</a></li>
                <li class="nav-link"> <a href="#pricing">Pricing</a></li>
                <li class="nav-link"> <a href="#global-map">Testimonials</a></li>
                <li class="nav-link"> <a href="#help">Help</a></li>
            </ul>
            <div class="signIn">
                <li><a href="#">Sign In</a></li>
                <button class="btn"><a href="#">Sign Up</a></button>
            </div>
            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
    <div class="hamburger-menu">
        <div class="container">
          <div class="row">
            <nav>
                <ul>
                    <li> <a href="#started">About</a></li>
                    <li> <a href="#features">Features</a></li>
                    <li> <a href="#pricing">Pricing</a></li>
                    <li> <a href="#global-map">Testimonials</a></li>
                    <li> <a href="#help">Help</a></li>
                </ul>
                <div class="signIn">
                    <li><a href="#">Sign In</a></li>
                    <button class="btn"><a href="#">Sign Up</a></button>
                </div>
            </nav>
          </div>
        </div>
      </div>
</header>