<section id="started" class="started">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-left">
                    <h1>Want anything to be easy with LaslesVPN.</h1>
                    <p>Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.</p>
                    <button class="btn-started"><a href="#">Get Started</a></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-right">
                    <img src="../img/getstarted/Illustration 1.svg" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-img">
                    <img src="../img/getstarted/user.png" alt="">
                </div>
                <div class="about-text">
                    <p class="timer count-title count-number" data-to="1230" data-speed="1500"></p>
                    <p>Users</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-img">
                    <img src="../img/getstarted/location.png" alt="">
                </div>
                <div class="about-text">
                    <p class="timer count-title count-number" data-to="770" data-speed="1500"></p>
                    <p>Locations</p>
                </div>
            </div>
            <div class="col-md-4 after">
                <div class="about-img">
                    <img src="../img/getstarted/Server.png" alt="">
                </div>
                <div class="about-text">
                    <p class="timer count-title count-number" data-to="610" data-speed="1500"></p>
                    <p>Servers</p>
                </div>
            </div>
        </div>
        <div class="back-img">
        </div>
        
    </div>
</section>
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 i-mge">
                <img src="../img/getstarted/Illustration 2.png" alt="">
            </div>
            <div class="col-md-6 t-ext">
                <h1>We Provide Many Features You Can Use</h1>
                <p>
                    You can explore the features that we provide with fun and have their own functions each feature.
                </p>
                <div class="item-yes">
                    <img src="../img/logo/Group 1121.svg" alt="">
                    <p>Powerfull online protection.</p>
                </div>
                <div class="item-yes">
                    <img src="../img/logo/Group 1121.svg" alt="">
                    <p>Internet without borders.</p>
                </div>
                <div class="item-yes">
                    <img src="../img/logo/Group 1121.svg" alt="">
                    <p>Supercharged VPN</p>
                </div>
                <div class="item-yes">
                    <img src="../img/logo/Group 1121.svg" alt="">
                    <p>No specific time limits.</p>
                </div>
               
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="plan">
    <div class="container">
        <h1>Choose Your Plan</h1>
        <p>Let's choose the package that is best for you and explore it happily and cheerfully.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card-one">
                    <img src="../img/getstarted/Premium.png" alt="">
                    <h1>Free Plan</h1>
                    <ul class="check">
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Unlimited Bandwitch</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Encrypted Connection</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>No Traffic Logs</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Works on All Devices</p>
                        </li>
                    </ul>
                    <p>Free</p>
                    <button class="btn-select"> <a href="#">Select</a></button>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-two">
                    <img src="../img/getstarted/Premium.png" alt="">
                    <h1>Standart Plan</h1>
                    <ul>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Unlimited Bandwitch</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Encrypted Connection</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>No Traffic Logs</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Works on All Devices</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Connect Anyware</p>
                        </li>
                    </ul>
                    <p>$9<span>/ mo</span></p>
                    <button class="btn-select"> <a href="#">Select</a></button>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-three">
                    <img src="../img/getstarted/Premium.png" alt="">
                    <h1>Premium Plan</h1>
                    <ul>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Unlimited Bandwitch</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Encrypted Connection</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>No Traffic Logs</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Works on All Devices</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Connect Anyware</p>
                        </li>
                        <li class="check-mark">
                            <img src="../img/getstarted/Group 1235.png" alt="">
                            <p>Get New Features</p>
                        </li>
                    </ul>
                    <p>$12 <span>/ mo</span></p>
                    <button class="btn-select"> <a href="#">Select</a></button>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section id="global-map" class="global-map">
    <div class="container">
        <h1>Huge Global Network of Fast VPN</h1>
        <p>See LaslesVPN everywhere to make it easier for you when you move locations.</p>
        <div class="map">
            <img src="../img/getstarted/Huge Global.svg" alt="">
        </div>
        <div class="company-logo">
            <img src="../img/getstarted/Mask Group.png" alt="">
            <img src="../img/getstarted/Mask Group-1.png" alt="">
            <img src="../img/getstarted/Mask Group-2.png" alt="">
            <img src="../img/getstarted/Mask Group-3.png" alt="">
            <img src="../img/getstarted/Mask Group-4.png" alt="">
        </div>
    </div>
</section>
<section id="help" class="customer">
    <div class="container">
        <h1>Trusted by Thousands of <br> Happy Customer</h1>
        <p>These are the stories of our customers who have joined us with great <br> pleasure when using this crazy feature.</p>
    </div>
    <div class="container-fluid">
                <div class="slide-xvar">
                    <div class="card-xvar">
                        <div class="slide-top">
                            <div class="user">
                                <div class="user-img">
                                    <img src="../img/getstarted/Ellipse 175-1.png" alt="">
                                </div>
                                <div class="user-about">
                                    <p>Viezh Robert</p>
                                    <p>Warsaw, Poland</p>
                                </div>
                            </div>
                            <div class="star">
                                <div class="star-p">
                                    <p>4.5</p>
                                </div>
                                <div class="star-img">
                                    <img src="../img/getstarted/Group 1161.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-body">
                            <p>“Wow... I am very happy to use this VPN, it <br> turned out to be more than my expectations <br> and so far there have been no problems. <br> LaslesVPN always the best”.</p>
                        </div>
                    </div>
                    <!-- <div class="back">
                        <img src="../img/getstarted/Rectangle 266.png" alt="">
                    </div> -->
                </div>
                <div class="slide">
                    <div class="card-slide">
                        <div class="slide-top">
                            <div class="user">
                                <div class="user-img">
                                    <img src="../img/getstarted/Ellipse 175-2.png" alt="">
                                </div>
                                <div class="user-about">
                                    <p>Yessica Christy</p>
                                    <p>Shanxi, China</p>
                                </div>
                            </div>
                            <div class="star">
                                <div class="star-p">
                                    <p>4.5</p>
                                </div>
                                <div class="star-img">
                                    <img src="../img/getstarted/Group 1161.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-body">
                            <p>“I like it because I like to travel far and still can <br> connect with high speed.”.</p>
                        </div>
                    </div>
                    <!-- <div class="back">
                        <img src="../img/getstarted/Rectangle 266.png" alt="">
                    </div> -->
                </div>
                <div class="slide">
                    <div class="card-slide">
                        <div class="slide-top">
                            <div class="user">
                                <div class="user-img">
                                    <img src="../img/getstarted/Ellipse 175.png" alt="">
                                </div>
                                <div class="user-about">
                                    <p>Kim Young Jou</p>
                                    <P>Seoul, South Korea</P>
                                </div>
                            </div>
                            <div class="star">
                                <div class="star-p">
                                    <p>4.5</p>
                                </div>
                                <div class="star-img">
                                    <img src="../img/getstarted/Group 1161.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-body">
                            <p>“This is very unusual for my business that currently requires a virtual private network that has high security.”.</p>
                        </div>
                    </div>
                    <!-- <div class="back">
                        <img src="../img/getstarted/Rectangle 266.png" alt="">
                    </div> -->
                </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Subscribe Now for Get Special Features!
                </h1>
                <p>Let's subscribe with us and find the fun.</p>
            </div>
            <div class="col-md-6">
                <button class="btn-now"><a href="#">Subscribe Now</a></button>
            </div>

        </div>
    </div>
</section>
<section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logos">
                        <img src="../img/logo/Logo.png" alt="">
                    </div>
                    <h1> <span>LaslesVPN</span>  is a private virtual network that <br> has unique features and has high security.</h1>
                    <div class="icon">
                     <a href="#"> <img src="../img/getstarted/Facebook.png" alt=""></a>  
                      <a href="#"><img src="../img/getstarted/Instagram.png" alt=""></a>  
                       <a href="#"> <img src="../img/getstarted/Twitter.png" alt=""></a>
                    </div>
                    <p>©2020LaslesVPN</p>
                </div>
                <div class="col-md-2">
                    <ul>
                        <p>Product</p>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Server</a></li>
                        <li><a href="#">Countries</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <p>Engage</p>
                        <li><a href="#">LaslesVPN</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <p>Earn Money</p>
                        <li><a href="#">Affiliate</a></li>
                        <li><a href="#">Become Partner</a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<div id="snow"></div>